div ul li{
    display: inline;
    padding: 2px;
    text-decoration: none;
    font-size: 20px;
    list-style-type:none ;
    padding-right: 50px;
}


body{
    background-color: #ecfcff;
    margin: 20px;
}

h1{
    color: #3e64ff;
    text-align: center;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    margin-left: 25%;
    margin-right: 25%;
    
   
}

h5{
    display:block;
    color: #3e64ff;
}

.offer{
    margin: 25%;
    background-color: olivedrab;
}

ol{
    list-style-type: lower-roman;
}